* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: rgb(0, 110, 127); */
    background-image: linear-gradient(rgb(0, 110, 127), rgb(0, 48, 53));
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}